<%= link_to edit_affaire_path(affaire), id: dom_id(affaire), class: "js-modal-trigger history-editable", data: { target: "app-modal", turbo_frame: "modal-content"} do %>
  <%= render 'value', label: affaire.label, note: affaire.repartition.label, amount: affaire.amount %>
<% end %>
