<%= form_with model: affaire, data: { turbo_frame: "_top" } do |f| %>
  <%= f.hidden_field :activite_mensuelle_id %>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <h1 class="title"> <%= affaire.model_name.human %> </h1>
        <h2 class="subtitle"><%= affaire.activite_mensuelle.mois %></h2>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :label, class: "label" %></div>
    <div class="field-body">
      <div class="field">
        <div class="control"><%= f.text_field :label, class: "input" %></div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :amount, class: 'label' %></div>
    <div class="field-body">
      <div class="field">
        <div class="control"><%= f.money_field :amount, class: "input" %></div>
        <p class="help"><%= Affaire.human_attribute_name('notes.amount') %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :repartition, class: "label" %></div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <div class="select"><%= f.collection_select :repartition_id, Repartition.enabled, :id, :label, { }, class: "input" %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field is-grouped">
        <div class="control"><%= f.submit class: "button is-dark" %></div>
        <%= delete_button(affaire) %>
      </div>
    </div>
  </div>
<% end %>
