<%= form_with(model: benefice, local: true) do |form| %>
  <% if benefice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(benefice.errors.count, "error") %> prohibited this benefice from being saved:</h2>

      <ul>
        <% benefice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :year, class: "label" %>
    </div>
    <div class="field-body">
      <%= form.number_field :year, disabled: benefice.persisted?, class: "input" %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :amount, class: "label" %>
    </div>
    <div class="field-body">
      <%= form.money_field :amount, class: "input" %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :provisional, class: "label" %>
    </div>
    <div class="field-body">
      <%= form.check_box :provisional %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :notes, class: "label" %>
    </div>
    <div class="field-body">
      <%= form.text_field :notes, class: "input" %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <%= form.submit 'Enregistrer', class: "button is-primary" %>
    </div>
  </div>
<% end %>
