<section class="section">
  <div class="container">
    <h1 class="title">Modification du bénéfice <%= @benefice.year %></h1>
    <h2 class="subtitle">
      <%= link_to 'Supprimer', benefice_path,
            class: 'button is-danger is-outlined is-small',
            data: { confirm: "Supprimer le bénéfice de #{@benefice.year} ?", method: :delete} %>
    </h2>

    <%= render 'form', benefice: @benefice %>
    <br/>
  </div>
</section>
