<section class="section">
  <div class="container">
    <h1 class="title">Liste des bénéfices</h1>

    <table class="table is-bordered is-striped">
      <thead>
        <tr>
          <th><%= Benefice.human_attribute_name(:year) %></th>
          <th><%= Benefice.human_attribute_name(:amount) %></th>
          <th><%= Benefice.human_attribute_name(:notes) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @benefices.each do |benefice| %>
          <tr>
            <td><%= benefice.year %></td>
            <td>
              <%= benefice.amount.format %>
              <% if benefice.provisional? %>
                (<%= Benefice.human_attribute_name(:provisional).downcase %>)
              <% end %>
            </td>
            <td><%= benefice.notes %></td>
            <td><%= link_to 'Modifier', edit_benefice_path(benefice) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Ajouter le bénéfice d’une année', new_benefice_path,  class: "button is-primary" %>
  </div>
</section>
