<section class="section">
  <div class="container">
    <h1 class="title">Nouveau bénéfice</h1>

    <%= render 'form', benefice: @benefice %>
    <br/>

    <%= link_to 'Retour', benefices_path, class: "button is-text" %>
  </div>
</section>
