<section class="section">
  <div class="container">
    <h1 class="title"><%= title %></h1>
    <%=
      column_chart(@chart_data, colors: @chart_colors)
    %>
  </div>
</section>

<section class="section">
  <div class="container">
    <table class="table is-bordered is-striped">
      <thead>
      <tr>
        <th><%= period %></th>
        <th><%= t(".active_associates") %></th>
        <th><%= I18n.t('activerecord.models.affaire/short') %></th>
        <th><%= Frais.model_name.human %></th>
        <th><%= Salaire.model_name.human %></th>
        <th><%= t('attributes.contribution') %></th>
      </tr>
      </thead>

      <tbody>
      <% @bilan_per_period.each do |mois, bilan| %>
        <tr>
          <td><%= mois %></td>
          <td><%= bilan.activites_mensuelles.length %></td>
          <td><%= bilan.total_affaires.format %></td>
          <td><%= bilan.total_frais.format %></td>
          <td><%= bilan.total_salaires.format %></td>
          <td><%= bilan.total_contribution.format %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</section>
