<%= form_with model: salaire, data: { turbo_frame: "_top" } do |f| %>
  <%= f.hidden_field :activite_mensuelle_id %>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field">
        <h1 class="title"> <%= salaire.model_name.human %> </h1>
        <h2 class="subtitle"><%= salaire.activite_mensuelle.mois %></h2>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :net_avant_ir, class: "label" %></div>
    <div class="field-body">
      <div class="field">
        <div class="control"><%= f.money_field :net_avant_ir, class: "input" %></div>
        <p class="help"><%= Salaire.human_attribute_name('notes.net_avant_ir') %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :cotisations_salariales, class: "label" %></div>
    <div class="field-body">
      <div class="field">
        <div class="control"><%= f.money_field :cotisations_salariales, class: "input" %></div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :cotisations_patronales, class: "label" %></div>
    <div class="field-body">
      <div class="field">
        <div class="control"><%= f.money_field :cotisations_patronales, class: "input" %></div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal"><%= f.label :epargne_salariale, class: "label" %></div>
    <div class="field-body">
      <div class="field">
        <div class="control"><%= f.money_field :epargne_salariale, class: "input" %></div>
        <p class="help"><%= Salaire.human_attribute_name('notes.epargne_salariale') %></p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <div class="field is-grouped">
        <div class="control"><%= f.submit class: "button is-dark" %></div>
        <%= delete_button(salaire) %>
      </div>
    </div>
  </div>
<% end %>
