<%= link_to edit_salaire_path(salaire), id: dom_id(salaire), class: "js-modal-trigger history-editable", data: { target: "app-modal", 'turbo_frame': "modal-content"} do %>
  <%= render 'value', label: Salaire.human_attribute_name(:net_avant_ir), note: Salaire.human_attribute_name('notes.net_avant_ir'), amount: salaire.net_avant_ir %>
  <%= render 'value', label: Salaire.human_attribute_name(:cotisations_salariales), amount: salaire.cotisations_salariales %>
  <%= render 'value', label: Salaire.human_attribute_name(:cotisations_patronales), amount: salaire.cotisations_patronales %>
  <%= render 'value', label: Salaire.human_attribute_name(:epargne_salariale), note: Salaire.human_attribute_name('notes.epargne_salariale'), amount: salaire.epargne_salariale %>
  <%= render 'value', label: Salaire.human_attribute_name(:abondement_epargne), note: Salaire.human_attribute_name('notes.abondement_epargne'), amount: salaire.abondement_epargne %>
<% end %>
