<div class="login">
  <%= image_tag '/img/ardoise.svg', :class=>'login-logo' %>
  <h1 class="title">Bienvenue sur Ardoise</h1>
  <%= form_tag('/auth/gitlab', method: 'post', data: { turbo: false }) do %>
    <button type='submit' class="button is-medium">Se connecter avec Gitlab</button>
  <% end %>
</div>

