<%= form_with(model: repartition, local: true) do |form| %>
  <% if repartition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repartition.errors.count, "error") %> prohibited this repartition from being saved:</h2>

      <ul>
      <% repartition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :enabled, class: 'checkbox subtitle' do %>
      <%= form.check_box :enabled, class: "checkbox subtitle" %>
      Activé
    <% end %>
  </div>

  <div class="field">
    <%= form.label 'Nom', class: "label" %>
    <div class="control">
        <%= form.text_field :label, id: :repartition_label, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label 'Base', class: "label" %>
    <div class="control">
      <%= form.money_field :salaire_de_base, class: "input" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit :Enregistrer, class: "button is-link"%>
  </div>
<% end %>
