<section class="section">
  <div class="container">
    <h1 class="title">Modification d’un modèle de répartition</h1>

    <%= render 'form', repartition: @repartition %>

    <br/>

    <h2 class="subtitle"> Tranches de contribution</h2>
    <div>
      <table id=tranches class="table">
        <thead>
          <th> À partir de </th>
          <th> mutualiser </th>
        </thead>
        <tbody>
          <%= render @repartition.tranches%>
        </tbody>
      </table>

      <%= form_for @repartition.tranches.new do |f| %>
        <%= f.hidden_field :repartition_id, value: @repartition.id %>
        <div class="field is-grouped">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                À partir de
              </a>
            </p>
            <p class="control is-expanded">
              <%= f.money_field :lower_bound, class: "input" %>
            </p>
          </div>
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Mutualiser
              </a>
            </p>
            <p class="control is-expanded">
              <%= f.number_field :rate_percent, in: -100..100, class: "input"%>
            </p>
            <p class="control">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
            <p class="control">
            <%= f.submit 'Ajouter une tranche', class: "button is-info"%>
            </p>
          </div>
        <% end %>
        </div>

        <%= link_to 'Voir', @repartition, class: "button is-link" %>
        <%= link_to 'Retour', repartitions_path, class: "button is-text" %>
    </div>
</section>
