<section class="section">
  <div class="container">
    <h1 class="title">Modèles de répartition</h1>

    <table class="table is-hover is-bordered">
      <thead>
        <tr>
          <th>Étiquette</th>
          <th>Tranches</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @repartitions.each do |repartition| %>
          <tr>
            <td>
              <b>
                <%= repartition.label %>
              </b>
              <% if !repartition.enabled %>
                <p>
                  <em>
                    <%= "(désactivé le #{l(repartition.disabled_at.to_date)})" %>
                  </em>
                </p>
              <% end %>
              <% if repartition.salaire_de_base.present? %>
                <p>
                  <%= "Base : #{repartition.salaire_de_base.format})" %>
                </p>
              <% end %>
            </td>
            <td><ul>
                <% repartition.tranches.each do |tranche| %>
                  <li><%= tranche.lower_bound.format %> : <%= "%.2f" % (tranche.rate * 100) %> %</li>
                <% end %>
              </ul></td>
              <td><%= link_to 'Voir', repartition %></td>
              <td><%= link_to 'Modifier', edit_repartition_path(repartition) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nouveau modèle de répartition', new_repartition_path, class: "button is-primary" %>
  </div>
</section>
