<section class="section">
  <div class="container">
    <h1 class="title">Nouveau modèle de contribution</h1>

    <%= render 'form', repartition: @repartition %>
    <br/>

    <%= link_to 'Retour', repartitions_path, class: "button is-text" %>
  </div>
</section>
