<section class="section">
  <div class="container">
    <p>
      <em>
        <% if @repartition.enabled %>
          Actif
        <% else %>
          <%= "Désactivé le #{l(@repartition.disabled_at.to_date)}" %>
        <% end %>
      </em>
    </p>
    <p>
      <strong>Label :</strong>
      <%= @repartition.label %>
    </p>
    <% if @repartition.salaire_de_base.present? %>
      <p>
        <strong>Base :</strong>
        <%= @repartition.salaire_de_base.format %>
      </p>
    <% end %>
    <table class="table">
      <thead>
        <th> À partir de </th>
        <th> mutualiser </th>
      </thead>
      <tbody>
        <%= render @repartition.tranches%>
      </tbody>
    </table>

    <%= link_to 'Éditer', edit_repartition_path(@repartition), class: "button is-link" %>
    <%= link_to 'Retour', repartitions_path, class: "button is-text" %>
  </div>
</section>
