<%= link_to edit_frais_path(frais), id: dom_id(frais), class: "js-modal-trigger history-editable", data: { target: "app-modal", 'turbo_frame': "modal-content"} do %>
  <%= render 'value', label: frais.label, amount: frais.amount %>
<% end %>
