<%= render 'value', label: t('attributes.affaires'), amount: summary.total_affaires %>
<%= render 'value', label: t('attributes.contribution'), amount: -summary.total_contribution %>
<%= render 'value', label: t('attributes.frais'), amount: -summary.total_frais %>
<%= render 'value', label: t('attributes.salaire'), amount: -summary.total_salaires %>
