:root {
  --affaire-color: hsl(197, 100%,  66%);
  --frais-color: hsl(47, 100%,  58%);
  --salaire-color: hsl(131, 59%,  48%);
  --month_summary-color: hsl(13, 100%,  67%);
  --global_summary-color: #AAA;
  --border-light: #ededed;
  --border: #dbdbdb;
  --radius: 4px;
  --bulma-family-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-item.is-active {
  background-color: var(--bulma-text-light);
}

.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-logo {
  max-height: 8em;
  margin-bottom: 2em;
}

.select {
  position: relative;
  display: flex;

  &::after {
    content: none !important;
  }

  select {
    background-image:
      linear-gradient(45deg, transparent 50%, #4a4a4a 50%),
      linear-gradient(135deg, #4a4a4a 50%, transparent 50%);
    background-position:
      calc(100% - 20px) 1em,
      calc(100% - 15px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }

  select + select {
    margin-left: 1em;
  }
}

.column {
  h4.subtitle {
    padding-bottom: 0.6em;
  }
  h6.subtitle {
    padding-bottom: 0.3em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .subtitle {
    border-bottom: 0.3rem solid;
  }
  &.affaires .subtitle {
    border-bottom-color: var(--affaire-color);
  }
  &.frais .subtitle {
    border-bottom-color: var(--frais-color);
  }
  &.salaires .subtitle {
    border-bottom-color: var(--salaire-color);
  }
  &.month_summary .subtitle {
    border-bottom-color: var(--month_summary-color);
  }
  &.global_summary .subtitle {
    border-bottom-color: var(--global_summary-color);
  }
}

.data-entry {
  .column {
    display: flex;
    flex-direction: column;
  }
  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .field:last-child {
      margin-top: auto;
    }
  }
}

.history-month {
  .title {
    font-weight: 500;
    padding-bottom: 1rem;
    border-bottom: var(--border-light) 0.8rem solid;
  }
}

.history-value {
  .history-value-label {
    padding-bottom: 0;
    border-bottom: var(--border) 0.05rem solid;
  }
  .history-value-amount {
    padding-top: 0;
  }
}

.history-editable {
  display: block;
  color: black;
  border-radius: var(--radius);
  margin: calc(var(--radius) * -1);
  padding: var(--radius);
  &:hover {
    background-color: color-mix(in srgb, black, transparent 95%);
  }
}
