<div class="columns data-entry">
  <div class="column global_summary is-one-quarter">
    <h4 class="subtitle"><%= @associate.display_name %></h4>
    <%= render 'value', label: t('global_summary'), amount: @summary.net_balance %>
    <%= render 'value', label: t('suggested_bonus'), amount: @summary.suggested_bonus %>
  </div>
</div>
