<%= form_with(model: associate, local: true) do |form| %>
  <% if associate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associate.errors.count, "error") %> prohibited this associate from being saved:</h2>

      <ul>
        <% associate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :display_name, "Nom d’usage", class: "label" %>
    </div>
    <div class="field-body">
      <%= form.text_field :display_name, class: "input" %>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :email, "Adresse courriel", class: "label" %>
    </div>
    <div class="field-body">
      <%= form.email_field :email, class: "input" %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <%= form.label :access, "Autorisation", class: "label" %>
    </div>
    <div class="field-body">
      <%= form.label :access, class: 'checkbox' do %>
        <%= form.check_box :access, class: "checkbox" %>
        Accès autorisé
      <% end %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
    </div>
    <div class="field-body">
      <%= form.submit 'Enregistrer', class: "button is-primary" %>
    </div>
  </div>
<% end %>
