<section class="section">
  <div class="container">
    <h1 class="title">Édition de l’associé·e</h1>
    <h2 class="subtitle">
      <%= link_to 'Supprimer', associate_path,
                  class: 'button is-danger is-outlined is-small',
                  data: { confirm: "Supprimer #{@associate.display_name} ?", method: :delete} %>
    </h2>

    <%= render 'form', associate: @associate %>
    <br/>
  </div>
</section>
