<section class="section">
  <div class="container">
    <h1 class="title">Liste des associés</h1>

    <table class="table is-bordered is-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Email</th>
          <th>Autorisation</th>
          <th>Bilan</th>
          <th></th>
      </thead>
      <tbody>
        <% @associates.each do |associate| %>
          <tr>
            <td><%= link_to associate.display_name, associate_path(associate) %></td>
            <td><%= associate.email %></td>
            <td><% if associate.access %>(accès autorisé)<% end %></td>
            <td><%= @summary[associate.email].net_balance.format %></td>
            <td><%= link_to "Modifier", edit_associate_path(associate) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
