<section class="section">
  <div class="container">
    <%= render 'data_entry' %>
  </div>
</section>
<section class="section">
  <div class="container">
    <%= render partial: "activites_mensuelles/activite_mensuelle",
               collection: @associate.activites_mensuelles
                 .includes(:mois, :frais, :salaire, affaires: {repartition: :tranches})
                 .sorted,
               cached: true %>
  </div>
</section>
