<div class="history-value">
  <div class="history-value-label">
    <%= label %>
  </div>
  <div class="history-value-amount is-flex is-justify-content-space-between">
    <span class="has-text-weight-light is-size-7">
      <%= note if local_assigns[:note] %>
    </span>
    <span>
      <%= amount.format %>
    </span>
  </div>
</div>
