<div id="app-modal" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <turbo-frame id="modal-content"></turbo-frame>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
