<% if flash.notice %>
  <section class="section">
    <div class="container">
      <div class="notification is-info">
        <button class="delete"></button>
        <%= notice %>
      </div>
    </div>
  </section>
<% end %>
<% if flash.alert %>
  <section class="section">
    <div class="container">
      <div class="notification is-danger">
        <button class="delete"></button>
        <%= flash.alert %>
      </div>
    </div>
  </section>
<% end %>
