<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <h1 class="title"><%= image_tag '/img/ardoise.svg' %></h1>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <%= active_link_to "Mon compte", current_associate, class: 'navbar-item', class_active: 'is-active' %>
        <%= active_link_to "Membres", associates_path, class: 'navbar-item', class_active: 'is-active', active: :exact %>
          <%= active_link_to "Bénéfices", benefices_path, class: 'navbar-item', class_active: 'is-active' %>
        <%= active_link_to "Modèles de répartition", repartitions_path, class: 'navbar-item', class_active: 'is-active' %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= active_link_to "Bilans", bilan_index_path, class: "navbar-link", class_active: "is-active", active: /bilan/ %>
          <div class="navbar-dropdown">
            <%= active_link_to "Annuels", annuels_bilan_index_path, class: 'navbar-item', class_active: 'is-active' %>
            <%= active_link_to "Mensuels", mensuels_bilan_index_path, class: 'navbar-item', class_active: 'is-active' %>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            Connecté en tant que <%= current_associate.display_name %>
          </a>
          <div class="navbar-dropdown">
            <%= link_to "Profil", current_associate, :class => "navbar-item" %>
            <%= link_to 'Se déconnecter', logout_path, method: :delete, :class=>'navbar-item' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
