<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ardoise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'bulma', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= yield :head %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= render 'application/favicon' %>
  </head>

  <body>
    <% if current_associate&.access? %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <div id="content">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>

    <%= render 'layouts/app_modal' %>
  </body>
</html>
